html,body {
  margin:0;
  background:lightgray;
  font-family: Arial;
}
#myForm {
  width: 310px;
  height: 305px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.2px;
  position: relative;
  background: white;
  margin: 10% auto;
  text-align: center;
}
h1 {
  font: Tahoma;
  font-size: 40px;
  width: 100%;
  margin-bottom: 20px;
  color: #00c3ff;
  
}
.inputTxtField {
  width: calc(100% - 6em);
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
}
.messageLogin {
  position: absolute;
  padding: .5em;
  background: rgba(0,0,0,.8);
  color: #fff;
  opacity: 0;
}
.btn {
  width:calc(100% - 2em);
  background:#00c3ff;
  color:white;
  margin-top:1em;
  border:none;
  border-radius:5px;
  padding:1em;
  font-size:1.2em;
  cursor:pointer;
}